<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consonnes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div [ngStyle]="{'display': 'inline'}" *ngFor="let consonant of consonantsTab; let i = index">
       <ion-row>
        <ion-col>
          <button
          id="consonantDetailsButton"
          (tap)="showConsonantDetailsPage(consonant.name, consonant.type)"
          *ngIf="consonant.type == 1" color="primary"
          ion-button round small>
            <span class="khmerpolice">{{consonant.name}}</span>
          </button>
          <button
          id="consonantDetailsButton"
          (tap)="showConsonantDetailsPage(consonant.name, consonant.type)"
          *ngIf="consonant.type == 2" color="danger"
          ion-button round small>
          <span class="khmerpolice">{{consonant.name}}</span>
          </button>
        </ion-col>
        <ion-col>
          {{consonant.trad}}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
