<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consonnes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <div *ngFor="let consonant of consonantsTab; let i = index">
        <ion-col col-sm-1>
          <ion-row>
            <button
            id="consonantDetailsButton"
            (tap)="presentProfileModal(consonant.name, consonant.trad, consonant.type)"
            *ngIf="consonant.type == 1" color="primary"
            ion-button round small>
              <span class="khmerpolice">{{consonant.name}}</span>
            </button>
            <button
            id="consonantDetailsButton"
            (tap)="showConsonantDetailsPage(consonant.name, consonant.trad, consonant.type)"
            *ngIf="consonant.type == 2" color="danger"
            ion-button round small>
            <span class="khmerpolice">{{consonant.name}}</span>
            </button>
          </ion-row>
          <ion-row class="trad">
            {{consonant.trad}}
          </ion-row>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
