page-consonants {
  #consonantDetailsButton {
    //padding-left:20px;
    //padding-right:20px;
    margin-left: 4px;
    margin-right: 4px;
    width: 30px;
    height:32px;
  }

  .khmerpolice {
    font-family: "Kh Sophorth";
    font-size: x-large;
  }

  .trad {
    //text-align: center;
    //vertical-align:middle;
    transform: translateX(30%);
    font-size: x-small;
    //margin: auto;
  }

}
