<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consonnes Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Details de la consonnes</h2>

  <div *ngIf="name && type" id="consonant-details-content">
    <p>lettre : {{ name }}</p>
    <p>type : {{ (type == 1) ? 'Dur' : 'Soft' }}</p>
  </div>

  <div *ngIf="!name || !type" id="consonant-details-content-error">
    <p>Pas de données sur cette lettre..</p>
  </div>
</ion-content>
